.border{
    border:2px solid red;
    margin:3px;
}
.flex{
    display:flex;
}
.align-items{
    align-items: center;
}
.justify-content{
    justify-content: center;
}
.bg-black{
    background-color: black;
}
.invert{
    filter:invert(1);
}
.bg-grey{
    background-color: #121212;
}
.m1{
    margin:5px;
}
.p1{
    padding:10px;
}
.rounded{
    border-radius: 8px;
}

::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-thumb{
    background-color: #333;
    border-radius:6px;
}
::-webkit-scrollbar-track{
    background-color: #222;
}
input[type="range"] {
  accent-color: rgb(42, 170, 42);
    height:3px;
    cursor:pointer;
  }
